<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/src/style.css" />
    <title>CSS3</title>
</head>

<body>
    <video autoplay muted loop>
        <source src="/src/background.mp4" type="video/mp4" />
    </video>
    <fieldset>
        <header>
            <h1>ТЛУМАЧНИЙ СЛОВНИК</h1>
        </header>
        <main>
            <section class="main-information">
                <nav class="container">
                    <div class="content-container">
                        <ul class="horizontal-menu">
                            <li>
                                <a class="nav_link_horiz_menu" href="/src/main.html">Список /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/browser.html">Браузер /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/front-end.html">Front-end /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/html5.html">HTML5 /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/jsavascript.html">JavaScript /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/server.html">Server</a>
                            </li>
                        </ul>

                        <img src="/img/css3.png" alt="css3" class="img_logo" />

                        <div class="information_container">
                            <h2>CSS3</h2>
                            <p>
                                <strong>CSS</strong> розшифровується як каскадна таблиця стилів. Його головна мета –
                                надати веб-сторінці стиль і моду. CSS надає властивості кольору, макета, фону, шрифту та
                                інші особливості. Функції CSS забезпечують кращу доступність вмісту, покращену гнучкість
                                і
                                контроль, а також специфікацію характеристик представлення.
                                <br><br>
                                <strong>CSS3</strong> означає Cascading Style Sheet level 3, що є розширеною версією
                                CSS. Він використовується для структурування, стилізації та форматування веб-сторінок.
                                До CSS3 додано кілька нових функцій, і він підтримується всіма сучасними веб-браузерами.
                                Найважливішою особливістю CSS3 є поділ стандартів CSS на окремі модулі, які простіше
                                вивчати та використовувати.
                                <br /><br /><br />
                                <em>Див.також: </em><a
                                    href="https://www.geeksforgeeks.org/difference-between-css-and-css3/#:~:text=CSS3%3A%20CSS3%20stands%20for%20Cascading,by%20all%20modern%20web%20browsers."
                                    target="_blank">посилання
                                    на сайт</a>
                            </p>
                        </div>
                    </div>
                </nav>
            </section>
        </main>
        <footer>
            <small class="copyright">©Всі права застережено. Виконав
                <strong><em>Kucherenko Oleksii</em></strong></small>
        </footer>
    </fieldset>
</body>

</html>