<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/src/style.css" />
    <title>HTML5</title>
</head>

<body>
    <video autoplay muted loop>
        <source src="/src/background.mp4" type="video/mp4" />
    </video>
    <fieldset>
        <header>
            <h1>ТЛУМАЧНИЙ СЛОВНИК</h1>
        </header>
        <main>
            <section class="main-information">
                <nav class="container">
                    <div class="content-container">
                        <ul class="horizontal-menu">
                            <li>
                                <a class="nav_link_horiz_menu" href="/src/main.html">Список /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/browser.html">Браузер /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/css3.html">CSS3/</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/front-end.html">Front-end /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/jsavascript.html">JavaScript /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/server.html">Server</a>
                            </li>
                        </ul>

                        <img src="/img/html5.png" alt="html5" />

                        <div class="information_container">
                            <h2>HTML5</h2>
                            <p>
                                <strong>HTML</strong> розшифровується як <strong>Hyper Text Markup Language</strong>.
                                Він
                                використовується для розробки веб-сторінок за допомогою мови розмітки. HTML — це
                                абревіатура від Hypertext and Markup language. Гіпертекст визначає зв'язок між
                                веб-сторінками. Мова розмітки використовується для визначення текстового документа в
                                тегу, який визначає структуру веб-сторінок. <strong>HTML5</strong> є п'ятою і поточною
                                версією HTML. Він покращив розмітку, доступну для документів, і представив інтерфейс
                                програмування прикладних програм <strong>(API)</strong> і об’єктну модель документа
                                <strong>(DOM)</strong>.
                                <br /><br /><br />
                                <em>Див.також: </em><a href="https://www.geeksforgeeks.org/html5-introduction/"
                                    target="_blank">посилання
                                    на сайт</a>
                            </p>
                        </div>
                    </div>
                </nav>
            </section>
        </main>
        <footer>
            <small class="copyright">©Всі права застережено. Виконав
                <strong><em>Kucherenko Oleksii</em></strong> <a
                    href="https://github.com/Kucherenko-Oleksii/NULES_WEB">link to GitHub</a></small>
        </footer>
    </fieldset>
</body>

</html>