<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/src/style.css" />
    <title>JavaScript</title>
</head>

<body>
    <video autoplay muted loop>
        <source src="/src/background.mp4" type="video/mp4" />
    </video>
    <fieldset>
        <header>
            <h1>ТЛУМАЧНИЙ СЛОВНИК</h1>
        </header>
        <main>
            <section class="main-information">
                <nav class="container">
                    <div class="content-container">
                        <ul class="horizontal-menu">
                            <li>
                                <a class="nav_link_horiz_menu" href="/src/main.html">Список /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/browser.html">Браузер /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/css3.html">CSS3/</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/front-end.html">Front-end /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/html5.html">HTML5 /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/server.html">Server</a>
                            </li>
                        </ul>

                        <img src="/img/js.png" alt="javascript" />

                        <div class="information_container">
                            <h2>JavaScript</h2>
                            <p>
                                <strong>JavaScript</strong> — це мова сценаріїв або програмування, яка дозволяє
                                впроваджувати складні функції на веб-сторінках — щоразу, коли веб-сторінка не просто
                                стоїть там і відображає статичну інформацію, на яку ви можете дивитися, — відображаючи
                                своєчасні оновлення вмісту, інтерактивні карти, анімовані 2D/ 3D-графіка, музичні
                                автомати з прокручуванням відео тощо
                                <br /><br /><br />
                                <em>Див.також: </em><a
                                    href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/What_is_JavaScript"
                                    target="_blank">посилання
                                    на сайт</a>
                            </p>
                        </div>
                    </div>
                </nav>
            </section>
        </main>
        <footer>
            <small class="copyright">©Всі права застережено. Виконав
                <strong><em>Kucherenko Oleksii</em></strong></small>
        </footer>
    </fieldset>
</body>

</html>