<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/src/style.css" />
    <title>Server</title>
</head>

<body>
    <video autoplay muted loop>
        <source src="/src/background.mp4" type="video/mp4" />
    </video>
    <fieldset>
        <header>
            <h1>ТЛУМАЧНИЙ СЛОВНИК</h1>
        </header>
        <main>
            <section class="main-information">
                <nav class="container">
                    <div class="content-container">
                        <ul class="horizontal-menu">
                            <li>
                                <a class="nav_link_horiz_menu" href="/src/main.html">Список /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/browser.html">Браузер /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/css3.html">CSS3/</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/front-end.html">Front-end /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/html5.html">HTML5 /</a>
                            </li>
                            <li>
                                <a class="nav_link_horiz_menu" href="/Components/jsavascript.html">JavaScript</a>
                            </li>
                        </ul>

                        <img src="/img/server.jpg" alt="server" class="server_img" />

                        <div class="information_container">
                            <h2>Server</h2>
                            <p>
                                <strong>Сервер</strong> — це програмний або апаратний пристрій, який приймає запити,
                                зроблені через мережу, і відповідає на них . Пристрій, який робить запит і отримує
                                відповідь від сервера, називається клієнтом . В Інтернеті термін «сервер» зазвичай
                                стосується комп’ютерної системи, яка отримує запити на веб-файли та надсилає ці файли
                                клієнту.
                                <br><br>
                                <strong>Сервери керують мережевими ресурсами</strong>. Наприклад, користувач може
                                налаштувати сервер для контролю доступу до мережі, надсилання/отримання електронної
                                пошти , керування завданнями друку або розміщення веб- сайту . Вони також вміють
                                виконувати інтенсивні обчислення. Деякі сервери призначені для виконання конкретного
                                завдання, їх часто називають виділеними. Однак сьогодні багато серверів є спільними
                                серверами, які відповідають за електронну пошту, <strong>DNS</strong>,
                                <strong>FTP</strong> і навіть за кілька веб-сайтів у випадку веб-сервера.
                                <br /><br /><br />
                                <em>Див.також: </em><a href="https://www.computerhope.com/jargon/s/server.htm"
                                    target="_blank">посилання
                                    на сайт</a>
                            </p>
                        </div>
                    </div>
                </nav>
            </section>
        </main>
        <footer>
            <small class="copyright">©Всі права застережено. Виконав
                <strong><em>Kucherenko Oleksii</em></strong></small>
        </footer>
    </fieldset>
</body>

</html>